@model IEnumerable<ApplicationUser>

@if (Model is null || Model.Count() == 0)
{
    <span>Пользователи не зарегистрированы</span>
}
else
{
    <ul>
        @foreach (var user in Model)
        {
            <li>@user.FirstName @user.LastName @user.SecondName - @user.Points</li>
        }
    </ul>    
}